<div class="alert alert-warning text-center px-5 py-3 m-3">
    <h4 class="text-danger font-weight-bold">@ViewBag.Title</h4>
    <br />
    <div class="bg-light rounded-divs p-2">
        <h5>@ViewBag.Description</h5>
    </div>
</div>